[Unit]
Description=ipt2socks
Requires=network.target network-online.target
After=network.target network-online.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/ipt2socks -c /etc/ipt2socks.conf
CapabilityBoundingSet=CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_ADMIN
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target
